<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviciosSoap" />
                <binding name="TipoCambioSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="serviciosSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://william2020-001-site1.htempurl.com/servicios.asmx"
                binding="basicHttpBinding" bindingConfiguration="serviciosSoap"
                contract="ServiceReference1.serviciosSoap" name="serviciosSoap" />
            <endpoint address="http://www.banguat.gob.gt/variables/ws/TipoCambio.asmx"
                binding="basicHttpBinding" bindingConfiguration="TipoCambioSoap"
                contract="ServiceReference2.TipoCambioSoap" name="TipoCambioSoap" />
        </client>
    </system.serviceModel>
</configuration>